

.product-form {
    justify-content: center;
    padding: 60px;
    width: 70%;
    margin: auto;
}

.new-product-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

#product-card {
    min-width: 345px;
    min-height: 558px;
    margin: 10px;
}