/* .product_cards {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
} */

.product-form {
    justify-content: center;
    padding: 60px;
    width: 70%;
    margin: auto;
}

.new-product-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}