.categories-header {
    text-align: center;
    padding-bottom: 1em;
}

h1 {
    text-align: center;
} 

.category__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#category-card {
    width: 40em;
    margin: .5em;
}