.categories-header {
    text-align: center;
}

h1 {
    text-align: center;
}

.product_cards {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.category__products {
    margin: 0 10em;
}