.navbar li {
    list-style: none;
}

.header {
    display: flex;   
    justify-content: space-between;
    padding-left: 80px;
    background-color: white;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 4em;
    margin: 0;
    background-color: #827dee;
}

.navbar-tabs {
    display: flex;
}
.logout {
    margin: 10px 10px 10px 0;
}

.navbar__item {
    list-style-type: none;
    align-self: center;
    text-align: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar__link {
    color: white;
    text-decoration: none;
    text-shadow: 1em;
    margin: 0 1.5em;
}

.navbar__icon {
    color: white;
    text-decoration: none;
    text-shadow: .2em;
}

.navbar__link:hover {
    font-size: 12.1pt;
    text-shadow: 0px 0px .4em black;
}

.navbar__logo {
    display: block;
    height: 10em;
    margin: 1em auto;
    min-width: 400px;
}